{% load static %}
<div class="container" id="alianzas">
   <h3  id="h3-aliados">Nos apoyan:</h3>
   <div class="row">
      <div class="col-6 col-md-4 col-lg-2">
         <a href="https://www.libertadciudadana.org/" target="_blank"><img class="logo" src="{% static "images/libertad-ciudadana.png" %}"></a>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
         <a href="https://www.holapraxis.com/" target="_blank"><img class="logo" src="{% static "images/praxis.png" %}"></a>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
         <a href="https://usma.ac.pa/" target="_blank"><img class="logo" src="{% static "images/usma.png" %}"></a>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
         <a href="https://es-la.facebook.com/CivicosyMorales/" target="_blank"><img class="logo" src="{% static "images/provalores.png" %}"></a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
         <a href="https://ciudadaniai.org/" target="_blank"><img class="logo" src="{% static "images/fci-logo.png" %}"></a>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
         <a href="https://ayudinga.com/" target="_blank"><img class="logo" src="{% static "images/ayudinga-logo.png" %}"></a>
      </div>
      <div class="row">
       <div class="col-6 col-md-4 col-lg-2">
         <a href=" https://www.facebook.com/fundacionIPECpanama/" target="_blank"><img class="logo" src="{% static "images/Fundacion-IPEC.png" %}"></a>
      </div>
   </div>
</div>
