{% load static %}
<div class="container" id="alianzas">
    <h3  id="h3-aliados">Nuestros aliados:</h3>
   <div class="row">
      <div class="col-6 col-md-3">
         <img class="logo" src="{% static "images/libertad-ciudadana.png" %}">
      </div>
      <div class="col-6 col-md-3">
         <img class="logo" src="{% static "images/praxis.svg" %}">
      </div>
      <div class="col-6 col-md-3">
         <img class="logo" src="{% static "images/usma.png" %}">
      </div>
      <div class="col-6 col-md-3">
         <img class="logo" src="{% static "images/provalores.png" %}">
      </div>
      <div class="col-6 col-md-3">
         <img class="logo" src="{% static "images/provalores.png" %}">
      </div>
      <div class="col-6 col-md-3">
         <img class="logo" src="{% static "images/provalores.png" %}">
      </div>

   </div>
</div>
