{% load static %}
<div class="container"  id="comite3">
   <h3  id="h3-aliados">Nuestros Comité Asesor</h3>
   <p id="comite-asesor">Las entidades y asesores que apoyan <a href="{% url "info" %}">la Guía de Políticos</a> fueron elegidos basados en los siguientes principios: <strong>(i)</strong> Ninguna afiliación política, <strong>(ii)</strong> Trayectoria de contribución al desarrollo del país, <strong>(iii)</strong> Reputación de ética y transparencia.</p>

   <div class="row">
      <div class="col-6 col-md-2">
         <p id="comite2"> <img src="{% static "images/comite.png" %}"><br>Leah Cedeño<br><a href="https://www.linkedin.com/in/leah-caterin-cede%C3%B1o-de-boersner-9462502/"><i class="fab fa-linkedin"></i></a></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Olga de Obaldía<br><a href="https://www.linkedin.com/in/olga-de-obald%C3%ADa-5b55a95/?originalSubdomain=pa"><i class="fab fa-linkedin"></i></a></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Gary Martin <br><a href="https://www.linkedin.com/in/garymartinpa/?originalSubdomain=pa"><i class="fab fa-linkedin"></i></a></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Juan McKay <br><a href="https://www.linkedin.com/in/juanbmckay/?originalSubdomain=pa"><i class="fab fa-linkedin"></i></a></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Claudio Valencia <br><a href="https://www.linkedin.com/in/claudio-valencia-sporer-743b5a1/?originalSubdomain=pa"><i class="fab fa-linkedin"></i></a></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Lina Vega <br><a href="https://www.linkedin.com/in/lina-vega-abad-75088020/"><i class="fab fa-linkedin"></i></a></p>
      </div>
   </div>
</div>
