{% load static %}
<div class="container"  id="comite3">
    <h3  id="h3-aliados">Nuestros Comité Asesor</h3>
      <p id="comite-asesor">Las entidades y asesores que apoyan <a href="{% url "info" %}">la Guía de Políticos</a> fueron elegidos basados en los siguientes principios: <strong>(i)</strong> Ninguna afiliación política, <strong>(ii)</strong> Trayectoria de contribución al desarrollo del país, <strong>(iii)</strong> Reputación de ética y transparencia.</p>
   <div class="row">

      <div class="col-6 col-md-2">

         <p id="comite2"> <img src="{% static "images/comite.png" %}"><br>Leah Cedeño</p>
      </div>
      <div class="col-6 col-md-2">
          <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Olga de Obaldía</p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Gary Martin </p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Juan McKay </p>
      </div>
      <div class="col-6 col-md-2">
          <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Claudio Valencia</p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite2"><img src="{% static "images/comite.png" %}"><br>Lina Vega </p>
      </div>





   </div>
</div>
