{% load static %}
<div class="container" id="alianzas">
    <h3  id="h3-aliados">Nuestros Comité Asesor</h3>
      <p id="comite-asesor">Las entidades y asesores que apoyan <a href="{% url "info" %}">la Guía de Políticos</a> fueron elegidos basados en los siguientes principios: <a href="#">(i)</a> Ninguna afiliación política, <a href="#">(ii)</a> Trayectoria de contribución al desarrollo del país, <a href="#">(iii)</a> Reputación de ética y transparencia.</p>
   <div class="row">
      <div class="col-6 col-md-2">
         <p id="comite">Leah Cedeño <br><i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-6 col-md-2">
          <p id="comite">Olga de Obaldía <br><i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite">Gary Martin <br><i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite">Juan McKay <br><i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-6 col-md-2">
          <p id="comite">Claudio Valencia <br><i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-6 col-md-2">
         <p id="comite">Lina Vega <br><i class="fab fa-linkedin"></i></p>
      </div>





   </div>
</div>
