{% load static %}
<footer class="footer">
   <div class="container">
     <h4 class="text-center">Si eres candidato y no apareces, escríbenos a<br> <a href="correo@indicetransparencia.com.pa">correo@indicetransparencia.com.pa</a></h4>

      <ul class="social_footer_ul">
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
         <li><a href="#"><i class="fas fa-at"></i></a></li>
      </ul>

      <p class="text-center">Índice de Transparencia de Políticos @2019 </p>
   </div>
   <!--social_footer_ul ends here-->
</footer>
