{% load static %}




<footer class="footer">


  <div class="container">
    <h4 class="text-center">“Si eres candidato a Diputado y quieres
 completar tu perfil, por favor escríbenos a:<br> <a href="info@espaciocivico.org">info@espaciocivico.org</a></h4>
          <div class="text-center">

                  <a href="https://www.facebook.com/fundacionespaciocivico/"><i class="fab fa-facebook-f"></i></a>
  	            <a href="https://twitter.com/espaciocivico"><i class="fab fa-twitter"></i></a>
  	            <a href="https://www.instagram.com/espaciocivico/"><i class="fab fa-instagram"></i></a>
  	            <a href="info@espaciocivico.org"><i class="fas fa-at"></i></a>
                <p class="text-center">Guía de Políticos @2019 </p>
  </div>
  </div>


   <!--social_footer_ul ends here-->
</footer>
