{% load static %}
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th id="numero">#</th>
              <th id="foto"></th>
              <th id="nombre">Nombre</th>
              <th id="partido">Partido</th>
              <th id="circuito">Circuito</th>
              <th id="nota">Nota</th>
            </tr>
          </thead>
          <tbody>
        {% for person in persons %}
           <tr>
             <td id="contador-ranking">{{person.ranking_data.position_in_ranking}}</td>
           <td><a id="link-persona" href="{{ person.get_absolute_url }}">
             <div class="col-md-1 px-0">
                  <img src="{% if person.image %}{{ person.image.url }}{% else %}{% static "images/person_icon.png" %}{% endif %}" class="img-fluid">
             </div></a></td>
            <td id="columna-persona"><a id="link-persona" href="{{ person.get_absolute_url }}">{{person.name }}</a></td>
           <td>{{ person.party }}</td>
           <td>{{ person.circuit }}</td>
           


          <td> <div class="progress yellow">
               <span class="progress-left">
                   <span class="progress-bar"></span>
               </span>
               <span class="progress-right">
                   <span class="progress-bar"></span>
               </span>
               <div class="progress-value"> {{ person.ranking_data.ranking_mark }}</div>
           </div>
         </td>



           </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
