{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Guía de políticos Panamá">
<meta name="keywords" content="Ranking, Panamá, Guía, Indice">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static "images/favicon.png" %}">
<title>Guía de políticos Panamá</title>
<meta property="og:image" content="{% static "images/logo-espacio-civico.png" %}">
