{% load static %}
{% block container %}
<nav class="navbar navbar-dark fixed-top">
   <a class="navbar-brand" href='{% url "index" %}'><img src="{% static "images/logo-espacio-civico.png" %}"></a>
   <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar4">
   <span class="header-menu-text" id="header-menu-text">MENU </span><span class="navbar-toggler-icon"></span>
   </button>
   <div class="navbar-collapse collapse" id="collapsingNavbar4">
      <ul class="header-nav__list">
         <li class="current"><a class=""  href="{% url "index" %}">Inicio</a></li>
         <li><a class="smoothscroll"  href="{% url "ranking" %}">Guía de Políticos</a></li>
         <li><a class="smoothscroll"  href="{% url "about_index" %}">Sobre la Guía de Políticos</a></li>
         <li><a class="smoothscroll"  href="{% url "info" %}">Información electoral</a></li>
         <li><a class="smoothscroll"  href="{% url "about" %}">¿Quiénes somos?</a></li>
      </ul>
   </div>
</nav>
{% endblock container %}
{% block extra_end_js %}
{% endblock extra_end_js %}
<!-- BOTON DE BÚSQUEDA
   <form class="form-inline my-2 my-lg-0">
   <input class="form-control mr-sm-2" type="text" placeholder="Búsqueda avanzada" aria-label="Search">
   <button class="btn btn-yellow my-2 my-sm-0" type="submit">Buscar</button> </form>
   -->
