{% load static %}

<div class="container" id="container-perfil">
   <div class="row">
      <div class="col-xs-12" id="navtabs">
         <nav>
            <div class="nav nav-tabs nav-fill" id="nav-perfil" role="tablist">
               <a class="nav-item nav-link active" id="nav-perfil" data-toggle="tab" href="#perfil-politico" role="tab" aria-controls="nav-perfil" aria-selected="true">Perfil<br>Político</a>
               <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#formacion-academica" role="tab" aria-controls="nav-profile" aria-selected="false">Formación<br>académica</a>
               <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#experiencia-profesional" role="tab" aria-controls="nav-contact" aria-selected="false">Experiencia<br>Profesional</a>
               <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#propuesta politica" role="tab" aria-controls="nav-about" aria-selected="false">Propuesta<br>Política</a>
               <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#declaracion-patrimonio" role="tab" aria-controls="nav-about" aria-selected="false">Declaración<br>Patrimonio</a>
               <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#procesos-judiciales" role="tab" aria-controls="nav-about" aria-selected="false">Procesos<br>Judiciales</a>
               <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#etica-presupuestaria" role="tab" aria-controls="nav-about" aria-selected="false">Ética<br>Presupuestaria</a>
            </div>
         </nav>
         <div class="tab-content py-3 px-3 px-sm-0" id="nav-perfil">
            <div class="tab-pane fade show active" id="nav-perfil" role="tabpanel" aria-labelledby="nav-perfil">
               <!--contenido-->
               <div id="accordion">
                  <div class="card">
                     <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Institución
                           </button>
                        </h5>
                     </div>
                     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           Nombre cargo
                           fecha de ingreso
                           fecha de salida
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Institución #2
                           </button>
                        </h5>
                     </div>
                     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Institución #3
                           </button>
                        </h5>
                     </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                     </div>
                  </div>
               </div>
               <!--contenido-->
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
               <!--contenido2-->
               <!--contenido2-->
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
               <!--contenido3-->
               <!--contenido3-->
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
               <!--contenido4-->
               <!--contenido4-->
            </div>
         </div>
      </div>
   </div>
</div>