Django==2.1.5
pytest-django
pytest
-e git+https://github.com/justinmayer/django-autoslug.git#egg=django-autoslug
django-templated-email
django-test-without-migrations
django-bootstrap4
Pillow
django-extra-views
PyYaml==3.13
django-analytical