@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

#accordion{
  max-width:100%;
  margin-left:30px;
  margin-right:30px;
}

.card-header {
  padding-left:0px;
  padding-top:0px;
  padding-bottom:10px;
    margin-bottom: 0;
    color: inherit;
  background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.collapsed:hover {
  background-color:transparent;
  border-color: transparent;
  color:#f0c039;
  border-radius: 10px;
  padding-right:20px;
}
.btn:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .btn:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  background-color:transparent;
  border-color: transparent;
  color:#f0c039;
  border-radius: 10px;
  padding-right:20px;
}

#titulos-info{
  color: #f0c039;
  font-size:14px;
  margin-bottom:0px;
  margin-left:20px;
}

.card-body {
  padding-left: 30px;
}

#titulos-info{
  margin-top:0rem;
}

#titulos-tabs{
  margin-top: 10px;
  margin-bottom:0px;
}
