.card-header {
  padding-left:0px;
  padding-top:0px;
  padding-bottom:10px;
    margin-bottom: 0;
    color: inherit;
  background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.collapsed:hover {
  background-color:transparent;
  border-color: transparent;
  color:#f0c039;
  border-radius: 10px;
  padding-right:20px;
}
.btn:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .btn:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  background-color:transparent;
  border-color: transparent;
  color:#f0c039;
  border-radius: 10px;
  padding-right:20px;
}

#titulos-info{
  color: #f0c039;
  font-size:14px;
  margin-bottom:0px;
  margin-left:20px;
}

.card-body {
  padding-left: 30px;
}

#titulos-info{
  margin-top:0rem;
}

#titulos-tabs{
  margin-top: 10px;
  margin-bottom:0px;
}
