#comite {
  font-size:16px;
  font-family:Montserrat;
  margin-bottom:80px;
  margin-top:40px;
  text-align:Center;

}

#comite2 {
  font-size:16px;
  font-family:Montserrat;
  margin-bottom:90px;
  margin-top:0px;
  text-align:center;

}

#comite3 {
  padding-bottom:40px;

}

#tabs-categorias{
  padding-left:20px;

}

#comite-asesor{
  font-size:16px;
  font-family:Montserrat;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#metodologia{
  font-size:16px;
  font-family:Montserrat;
  margin-top: 20px;
  margin-right: 20px;

}

#metodologia-titulo{
  font-size:16px;
  font-family:Montserrat;
  margin-top: 20px;
  margin-right: 20px;

}

#metodologia ul li{
    font-size: 16px;
    font-family: Montserrat;
    margin-top: 20px;
    margin-right: 20px;
}

#h4-about{
  color:#fdc63b;
  font-size:40px;
  margin-top:80px;
}

.fa-check-circle{
  color:#20c997;
  font-size: 14px;
}

.fa-times-circle{
  color:red;
  font-size: 14px;
}
@media screen and (max-width: 600px){

  #nav-tab{
    background-color:#eab300;
    display: none;
  }

  #nav-tab2{
    background-color:#eab300;
    display: block;

  }

  #h4-about{
    color:#fdc63b;
    font-size:20px;
    margin-top:20px;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    margin-bottom:20px;
  }

.nav {
    display: -ms-flexbox;
    display: blog;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
}

.btn-secondary{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    padding-top: 13px;
      padding-left: 30px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;

}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #eab300;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130,138,145,.0);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}

.tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 150%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #2E2E2E transparent transparent transparent;
}
