.table td {
    padding: 0rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table th {
    padding: 1.55rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    font-size: 14px;
    background-color: #1e262f;
    color:white;
    padding-left: 50px;
    padding-top:15px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 0px;
    padding-left: 50px;
    font-size: 14px;
}

.table tbody+tbody {
    border-top: 2px solid #fff;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@media screen and (max-width: 1400px){
.table {
    width: 100%;
    margin-top:240px;
    background-color: transparent;
}
}

@media screen and (max-width: 900px){
#columna-circuito{
  display: none;
}
.table td, .table th {
    padding: .35rem;
    vertical-align: middle;
    border-top: 0px;
    padding-left: 20px;
    font-size: 14px;
}

#fila-datos{
  display:none;
}

.table td, .table th a{
    font-size: 10px;
}
#columna-circuito{
padding-right:20px;
}
}
