main {
  padding: 4rem;
}

.btn-yellow {
  color: white;
  border-color: #F9B903;
  background-color:#F9B903;
  font-family:"Muli";
  padding-left:40px;
  padding-right:40px;
  font-size:14px;
}

a {
  color:#fff;
  font-family:"Muli";
}

.form-control {
   background-color: #e9ecef;
   border: 1px solid #e9ecef;
   border-radius: .20rem;
   font-family:"Muli";
   font-size:14px;
   padding-left:10px;
   padding-right:70px;
   font-weight: 700;
}

.bg-dark{
  background-color:#222;
}

.bgimage {
  width:100%;
  height:300px;
  background: url('http://atlaspolitico.com.br/img/bg-ranking.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 2;"

}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  padding-left: 50px;
  font-size: 40px;
}

.bgimage p {
  color:white;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 400;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top:55px;

}
