/*main*/
main {
padding-left: 4rem;
padding-right: 4rem;
padding-top: 0rem;
padding-bottom: 0rem;
}
/*BOTONES*/
.btn-primary {
display: inline-block;
font-weight: 400;
text-align: center;
color:white;
background-color: #eab300;
margin-top: 15px;
padding-left:30px;
padding-right:30px;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-size: 14px;
line-height: 1.5;
border-radius: 50px;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary:hover {
background-color: #c0c6d1;
}
/*perfil-candidato*/
#circuito-perfil {
font-size: 14px;
text-align: left;
font-family: montserrat;
color: #fff;
}
#party-perfil{
font-size: 14px;
text-align: left;
color: #fff;
font-family: montserrat;
}
#birth-perfil{
font-size:14px;
color:#fff;
font-family: montserrat;
text-align: left;
}
/*about*/
#about{
font-size: 18px;
padding-right: 250px;
}
#about-img{
height: 490px;
}
#header-menu-text{
font-size:12px;
color:white;
}
/*boton ranking animado*/
a.animated-button.thar-two {
color: #fff;
cursor: pointer;
display: block;
position: relative;
border: 1px solid #eab300;
margin-left:15px;
font-size:14px;
padding-left: 30px;
padding-right: 30px;
padding-top: 5px;
padding-bottom: 5px;
}
a.animated-button.thar-two:hover {
color: #000 !important;
background-color: transparent;
}
a.animated-button.thar-two:hover:before {
top: 0%;
bottom: auto;
height: 100%;
}
a.animated-button.thar-two:before {
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
display: block;
position: absolute;
left: 0px;
bottom: 0px;
height: 0px;
width: 100%;
z-index: -1;
content: '';
color: #000 !important;
background: #eab300;
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.form-control.is-valid, .was-validated .form-control:valid{
background-image:none;
}
/*tablas*/
.table td, .table th{
padding-left:50px;
padding-right:50px;
}
.table td, .table th{
padding-top: 20px;
padding-bottom: 20px;
background-color:#fff;
font-family: "Montserrat";
color: #1e2630;
}
/*navbar*/


.navbar {
padding-left:25px;
}
.nav-link {
color:#1e262f;
font-weight: bold;
font-family:"Montserrat";
font-size:14px;
text-align:left;
padding: 1rem 4rem;
}
.nav-link:hover {
color:white;
}
.navbar-dark {
background-color: rgba(31, 35, 41, 0.85);
}
.custom-toggler.navbar-toggler {
border-color: #eab300;
border-radius:0px;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*links*/
a{
color:#fdc63b;
font-family:"Montserrat";
font-size:16px;
font-weight:600;
}
a:hover{
font-fmily:"Montserrat";
font-weight:600;
color:gray;
}
/*BG-HERO*/
.container-fluid {
width: 100%;
padding-right: 0px;
padding-left: 0px;
}
.bgimage {
height: 300px;
background: url(/static/images/bg-indice2.png);
background-position: center;
position: sticky;
opacity: 1;
display: block;
margin-bottom: 0px;
}
.bgimage h5 {
color:white;
font-family:"Montserrat";
text-shadow:2px 2px #333;
padding-left: 65px;
margin-right:500px;
font-size: 28px;
line-height: 1.4;
margin-top:0px;
}
.bgimage p {
color:#eab300;
font-family:"Montserrat";
padding-left: 50px;
font-weight: 200;
text-align: left;
font-size: 18px;
}
.bgimage2 {
max-width:100%;
height:240px;
background: url('/static/images/bg-indice.jpg');
background-repeat: no-repeat;
background-position: center;
background-size:cover;
background-attachment: fixed;
margin-right: -100%;
position: fixed;
opacity: 1;
display: block;
z-index: 2;
}
.bgimage2 h5 {
color:white;
font-family:"Montserrat";
text-shadow:2px 2px #333;
padding-left: 65px;
padding-right:300px;
font-size: 28px;
line-height: 1.4;
margin-top:0px;
}
.bgimage2 p {
color:#eab300;
font-family:"Montserrat";
padding-left: 50px;
font-weight: 200;
text-align: left;
font-size: 18px;
}
#filtro-titulo {
text-align:center;
font-size:24px;
padding-left:10%;
padding-right:10%;
padding-top:80px;
}
#filtro-titulo2 {
font-family: Montserrat;
text-align:center;
font-size:24px;
padding-left:10%;
padding-right:10%;
padding-top:0px;
color:#eab300;
}
.img-fluid {
height: 60px;
border-radius: 60px;
width: 60px;
min-width: 60px;
margin-top: 10px;
margin-bottom: 10px;
}
.img-fluid-perfil {
max-height: 200px;
min-height:200px;
border-radius: 200px;
max-width: 200px;
min-width:200px;
margin-top: 120px;
margin-bottom: 120px;
position: static;
float:right;
}
#nombre-candidato-perfil{
margin-top:120px;
color:white;
font-size:30px;
margin-bottom: 15px;
text-align: left;
}
#fecha-nacimiento-perfil{
font-size:16px;
color:white;
}
#background-image2{
background: url('/static/images/bg-indice.jpg');
height: 300px;
width: 100%;
position:static;
margin-bottom:200px;
}
#background-image3{
background: url('/static/images/bg-indice-perfil.png');
height: 390px;
margin-bottom:40px;
}
/*tabla-variables*/
#numero {
font-size:21px;
color:#222;
font-weight:700;
}
#nombre {
font-size:21px;
color:#222;
font-weight:700;
}
#partido {
font-size:21px;
color:#222;
font-weight:700;
}
#circuito {
font-size:21px;
color:#222;
font-weight:700;
}
#nota{
font-size:21px;
color:#222;
font-weight:700;
}
#titulo-working{
margin-top:160px;
}
/*filtros*/
.form-control.is-valid{
border-color:transparent;
margin-left:0px;
font-size:12px
}
.filter_form {
margin-left:25%;
margin-right:10%;
}
.label_filter_ranking {
font-family: Montserrat;
color: white;
padding-bottom: 0px;
margin-left:10px;
text-align:left;
max-width: 210px;
font-size: 12px;
}
.filter_field{
min-width:210px;
}
/*footer*/
.social_footer_ul{
display:table;
margin:15px auto 0 auto;
list-style-type:none;
}
.social_footer_ul li{
padding-left:20px;
padding-top:10px;
float:left;
}
.social_footer_ul li a{
color:#CCC;
border:1px solid #CCC;
padding:8px;border-radius:50%;
}
.social_footer_ul li i{
width:20px;
height:20px;
text-align:center;
}
#footer{
padding-bottom:45px;
padding-top:30px;
background-color: #161b21;
margin-top:0px;
margin-bottom:0px;
}
.text-center{
color: #f0c039;
font-size: 21px;
padding-top:20px;
}
.text-center a{
color: white;
font-size: 21px;
padding-top:20px;
padding-left:20px;
}
.text-center a:hover{
color:#f0c039;
font-size: 21px;
}
.text-center2{
color: #f0c039;
font-size: 14px;
padding-top:10px;
padding-bottom:10px;
padding-right: 10px;
padding-left:0px;
text-align: left;
}
.text-center2 a{
color: white;
font-size: 14px;
padding-top:10px;
padding-bottom:10px;
padding-right: 10px;
padding-left:0px;
}
.text-center2 a:hover{
color:#f0c039;
font-size: 14px;
}
/*logo alianzas*/
.logo {
width: auto;
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
margin-top: 20px;
margin-bottom: 90px;
}
.logo:hover {
transform: rotate(2deg) scale(1.1);
}
.fa-facebook-f{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-facebook-f:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-twitter-square{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-twitter-square:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-twitter{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-twitter:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-facebook{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-facebook:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-share-alt-square{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-share-alt-square:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-at{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-at:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-instagram{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-instagram:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-at{
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-at:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-code {
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-code:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-at{
padding-right: 0px;
}
.fa-code {
animation: bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}
.fa-code:hover{
transform: rotate(2deg) scale(1.2);
}
.fa-at{
padding-right: 0px;
}
.bubble{
fill:#e76853;
}
.icon{
fill:#fff;
}
@keyframes bounceIn{
0% {
opacity: 1;
transform: scale(.3);
}
50% {
opacity: 1;
transform: scale(1.05);
}
70% {
opacity: 1;
transform: scale(.9);
}
100% {
opacity: 1;
transform: scale(1);
}
}
@media screen and (max-width: 1400px){
#bg-index{
height:300px;
}
.filter_form{
margin-left: auto;
margin-right: auto;
flex: unset;
float: none;
display: table;
}
.bgimage{
margin-bottom: -240px;
}
.img-fluid {
height: 60px;
border-radius:60px;
width:60px;
max-width: 60px;
}
#about {
font-size: 16px;
padding-right: 200px;
}
}
@media screen and (max-width: 700px){
.bgimage h5 {
font-size: 20px;
margin-right:20px;
}
#about {
font-size: 14px;
padding-right: 30px;
}
.bgimage2 {
height:500px;
}
#nombre-candidato-perfil{
margin-top:0px;
color:white;
font-size:18px;
margin-bottom: 15px;
text-align: left;
}
}

#responsive-1{
  display:none;
}

#responsive-2{
  display:none;
}

@media screen and (max-width: 600px){

#responsive-1{
  display:block;
}

#responsive-2{
  display:block;
}
.img-fluid-perfil {
max-height: 200px;
min-height: 200px;
border-radius: 100px;
max-width: 200px;
min-width: 200px;
margin-top: 120px;
margin-bottom: 120px;
position: static;
float: inherit;
text-align: center;
}
#circuito-perfil {
font-size: 14px;
font-family: montserrat;
color: #fff;
font-weight: 500;
text-align: center;
}
#party-perfil{
font-size: 14px;
font-family: montserrat;
color: #fff;
font-weight: bold;
text-align: center;
}
#birth-perfil{
font-size:14px;
color:#fff;
font-weight: bold;
padding-top: 5px;
font-family: montserrat;
text-align: centeR;
}
.text-center2{
color: #f0c039;
font-size: 14px;
padding-top:10px;
padding-bottom:10px;
text-align: center;
padding-left: 40px;
}
.text-center2 a{
color: white;
font-size: 14px;
padding-top:10px;
padding-bottom:10px;
}
.text-center2 a:hover{
color:#f0c039;
font-size: 14px;
}
.nav-link {
font-family:"Montserrat";
font-size:12px;
text-align:center;
padding:0px;
padding-top: 20px;
padding-bottom: 20px;
font-weight: bold;
}
.nav-link:hover {
color:white;
}
#background-image3{
height: 480px;
}
.bgimage h5 {
margin-right:20px;
}
#nombre-candidato-perfil {
margin-top: -100px;
color: white;
margin-bottom: 15px;
text-align: center;
font-family: montserrat;
}
.img-fluid-perfil {
height:inherit;
}
.filter_field{
min-width:100px;
max-width:260px;
}
#filtro-titulo {
text-align: center;
font-size: 18px;
padding-left: 50px;
font-family: montserrat;
}
.bgimage2 {
height:420px;
position: fixed;
}
.bgimage p {
font-size: 12px;
}
.table td, .table th {
padding-left: 10px;
padding-right: 10px;
font-size:10px;
}
.logo {
margin-top: 0px;
margin-bottom: 20px;
margin-left: 0px;
margin-right: 10px;
text-align: center;
height: 55px;
}
#alianzas{
margin-top:30px;
margin-bottom:30px;
}
#link-persona{
font-size:10px;
}
.img-fluid {
height: 60px;
border-radius: 60px;
width: 60px;
max-width: 60px;
margin-bottom: 10px;
}
#numero {
font-size:14px;
color:#222;
font-weight:700;
}
#nombre {
font-size:14px;
color:#222;
font-weight:700;
}
#partido {
font-size:14px;
color:#222;
font-weight:700;
}
#circuito {
font-size:14px;
color:#222;
font-weight:700;
}
#nota{
font-size:14px;
color:#222;
font-weight:700;
}
.bgimage {
max-width:100%;
}
.bgimage3 {
max-width:auto;
height:340px;
margin-bottom:-490px;
background: url('/static/images/bg-indice.jpg');
}
.label_filter_ranking {
padding-top: 0px;
padding-bottom: 0px;
margin-left: 65px;
max-width: 250px;
min-width: 250px;
}
#about {
font-size: 14px;
padding-right: 30px;
}
}
.home-social {
font-family: "montserrat-regular";
list-style: none;
margin: 0;
position: absolute;
top: 50%;
right: 5.4rem;
-webkit-transform: translate3d(0, -50%, 0);
-ms-transform: translate3d(0, -50%, 0);
transform: translate3d(0, -50%, 0);
}
.home-social i {
font-size: 14px;
right: 0;
text-align: center;
display: inline-block;
width: 33px;
height: 33px;
line-height: calc(33px - 4px);
border: 2px solid #FFFFFF;
border-radius: 50%;
}
.home-social i, .home-social span {
position: absolute;
top: 0;
line-height: 30px;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.home-social li {
position: relative;
padding: .9rem 0;
}
.home-social li a {
display: block;
width: 33px;
height: 33px;
}
.home-social a {
color: white;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.s-home {
width: 100%;
height: 100%;
min-height: 786px;
background-color: transparent;
position: relative;
display: table;
background: url('/static/images/intro-bg.jpg');
}
.s-home2 {
width: 100%;
height: 100%;
min-height: 786px;
background-color: #161b21;
position: sticky;
display: table;
background: url('/static/images/intro-bg.jpg');
}
.s-home3 {
width: 100%;
height: 100%;
min-height: 786px;
background-color: #161b21;
position: sticky;
display: table;
background: url('/static/images/intro-bg.jpg');
}
.s-home .shadow-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 2.8;
background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}
#h5-about {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
color: white;
line-height: 2;
font-size: 16px;
margin-left: 0px;
margin-right:0px;
}
#h5-info {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
color: white;
line-height: 2;
font-size: 16px;
margin-left: 0px;
margin-right:0px;
}
#h3-info {
font-family: "montserrat-medium", sans-serif;
font-size: 16px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 70px;
margin-bottom: 1.2rem;
margin-left:100px;
}
#h3-about {
font-family: "montserrat-medium", sans-serif;
font-size: 16px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 70px;
margin-bottom: 1.2rem;
}
#h3-info {
font-family: "montserrat-medium", sans-serif;
font-size: 14px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 20px;
margin-bottom: 1.2rem;
text-align: left;
margin-left:0px;
margin-right: 10px;
}
#h3-metodologia {
font-family: "montserrat-medium", sans-serif;
font-size: 16px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 20px;
margin-bottom: 0px;
text-align: left;
}
#h3-metodologia2 {
font-family: "montserrat-medium", sans-serif;
font-size: 16px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 10px;
margin-bottom: 0px;
text-align: left;
}
#h3-aliados {
font-family: "montserrat-medium", sans-serif;
font-size: 16px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 10px;
margin-bottom: 1.2rem;
text-align: center;
}
#alianzas{
padding-top:80px;
}
.home-content__main {
animation-duration: 2s;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
max-width: 800px;
padding-top: 4rem;
position: relative;
width: 94%;
max-width: 1200px;
margin: 0 auto;
}
.home-content__line {
display: block;
width: 2px;
height: 10.2rem;
background-color: #fdc63b;
position: absolute;
right: 6.4rem;
bottom: 0;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before, .fa-facebook:before {
content: "\f09a";
}
.box-e {
position: relative;
display: block;
cursor: pointer;
}
.normal-underline,
.custom-underline {
position: relative;
display: inline-block;
text-align: center;
padding-bottom:10px;
}
.normal-underline,
.normal-underline:hover {
color: #ebb400;
text-decoration: underline;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
color: #ebb400;
text-decoration: none;
}
.custom-underline::after {
content: "";
position: absolute;
}
.box-e .custom-underline::after {
top: 65%;
height: 2px;
width: 0%;
left: 0%;
background-color: #ebb400;
transition: 0.5s ease all .3s;
}
.box-e:hover .custom-underline::after {
width: 100%;
transition: 0.3s ease all;
}
#indice-titulo1{
margin-left:6px;
margin-top:100px;
}
@media screen and (max-width: 600px){
#alianzas{
padding-top:20px;
}
.text-center{
font-size: 12px;
}
.intro-guia{
display: block;
}
#h3-about {
font-size: 12px;
margin-top:0px;
margin-bottom: .1rem;
text-align: left;
margin-left: 0%;
}
#h3-info {
font-family: "montserrat-medium", sans-serif;
font-size: 14px;
color: #fdc63b;
text-transform: uppercase;
letter-spacing: .3rem;
position: relative;
margin-top: 20px;
margin-bottom: 1.2rem;
text-align: left;
margin-left:40px;
margin-right: 10px;
}
#h3-metodologia {
margin-left: 35px;
margin-top:0px;
font-size: 14px;
}
.normal-underline, .custom-underline {
padding-bottom: 0px;
text-align: left;
margin-left: 0px;
margin-right: 25px;
}
.home-social{
display:none;
}
#h5-about {
margin-top: 0.5rem;
line-height: 1.7;
font-size: 14px;
text-align: left;
margin-left:10%;
margin-right:20px;
}
.home-content__line {
display:none;
}
#tabs-1{
margin-top:1700px;
}
#tabs-ranking{
margin-bottom: 150px;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: white;
background-color: transparent;
border-color: transparent;
border-bottom: transparent;
font-weight: bold;
}
#tabs .nav-tabs .nav-link {
border: 1px solid transparent;
border-top-left-radius: .25rem;
border-top-right-radius: .25rem;
color: #eee;
font-size: 20px;
=======
#container-perfil{
margin-top:40px;
margin-bottom:40px;
>>>>>>> dno_nati
}
@media screen and (max-width: 950px){
.label_filter_ranking {
margin-left: 10px;
text-align: left;
max-width: 160px;
font-size: 9px;
}
}
h1{
font-size: 30px;
color: #fff;
text-transform: uppercase;
font-weight: 300;
text-align: center;
margin-bottom: 15px;
}
table{
width:100%;
table-layout: fixed;
}
}
.far .fa-times{
color:green;
}
}
.fa, .fas {
font-weight: 900;
padding-right: 10px;
}
.navbar-toggler-icon {
display: inline-block;
width: 3.5em;
height: 1.5em;
vertical-align: middle;
content: "";
background: no-repeat center center;
background-size: 100% 100%;
}
a.tooltips {
position: relative;
display: inline;
}
a.tooltips span {
position: absolute;
color: #ffffff;
background: #000000;
text-align: center;
visibility: hidden;
border-radius: 6px;
font-size: 10px;
padding-left: 10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
}
a.tooltips span:after {
content: '';
position: absolute;
top: 100%;
left: 50%;
margin-left: -8px;
width: 0; height: 0;
border-top: 8px solid #000000;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
}
a:hover.tooltips span {
visibility: visible;
opacity: 0.8;
bottom: 30px;
left: 50%;
margin-left: -76px;
z-index: 999;
}
.intro-guia-2{
font-size: 12px;
padding-top:10px;
}
.intro-guia{
font-size:3.5rem;
}
.col-md-6 {
padding-left: 0;
}
.fa-check {
padding-right: 5px;
padding-left: 10px;
}
#comite {
font-size:16px;
font-family:Montserrat;
margin-bottom:10px;
margin-top:40px;
text-align:Center;
}
#comite2 {
font-size:16px;
font-family:Montserrat;
margin-bottom:90px;
margin-top:0px;
text-align:center;
}
#comite3 {
padding-bottom:10px;
}
#tabs-categorias{
padding-left:20px;
}
#comite-asesor{
font-size:16px;
font-family:Montserrat;
margin-top: 0px;
margin-right: 20px;
margin-left: 20px;
margin-right: 20px;
text-align: center;
}
#metodologia{
font-size:16px;
font-family:Montserrat;
margin-top: 20px;
margin-right: 20px;
}
#metodologia-titulo{
font-size:16px;
font-family:Montserrat;
margin-top: 20px;
margin-right: 20px;
}
#metodologia ul li{
font-size: 16px;
font-family: Montserrat;
margin-top: 20px;
margin-right: 20px;
}
#h4-about{
color:#fdc63b;
font-size:40px;
margin-top:20px;
}
.fa-check-circle{
color:#20c997;
font-size: 14px;
}
.fa-times-circle{
color:red;
font-size: 14px;
}
@media screen and (max-width: 600px){

  .intro-guia{
  font-size:2rem;
  }

#nav-tab{
background-color:#eab300;
display: none;
}
#variables{
background-color:#eab300;
display: block;
}


#h4-about{
color:#fdc63b;
font-size:20px;
margin-top:20px;
margin-left: 40px;
margin-right: 20px;
text-align: left;
margin-bottom:20px;
}
.nav {
display: -ms-flexbox;
display: blog;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
}
.btn-secondary{
color: #fff;
background-color: transparent;
border-color: transparent;
font-size: 16px;
padding-top: 13px;
padding-left: 30px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
color: #fff;
background-color: transparent;
border-color: transparent;
font-size: 16px;
}
.dropdown-item.active, .dropdown-item:active {
color: #fff;
text-decoration: none;
background-color: #eab300;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(130,138,145,.0);
}
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}
.tooltip .tiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 3px;
padding: 6px 0;
position: absolute;
z-index: 1;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
content: "";
position: absolute;
border-width: 5px;
border-style: solid;
}
.tooltip:hover .tiptext {
visibility: visible;
}
.tooltip.top .tiptext{
margin-left: -60px;
bottom: 150%;
left: 50%;
}
.tooltip.top .tiptext::after{
margin-left: -5px;
top: 100%;
left: 50%;
border-color: #2E2E2E transparent transparent transparent;
}
.ui-menu{
  -webkit-appearance: none;
  color: white;
  z-index: 1040;
  position:fixed;
  padding: 10px;

}
.ui-menu li:hover{
  color: #fdc63b;
  z-index: 1055;
}
.ui-menu-item{
  background-color: black;
  padding:10px;

}

.ui-autocomplete-input{
  z-index: 100;
  border-radius: 30px;
  width: 140px;
  height: 25px;
  padding: 10px;
}

.ui-widget{
  font-size:10px;
  z-index:1060;

}

.ui-widget li{
  font-size:10px;
  list-style: none;
  z-index:1060;
  padding: 5px;
  padding-left: 10px;
}

.busqueda{
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  padding-right: 20px;
  z-index:1060;
}
  .fixed-top {
  z-index:1050;
}

#go_button{
  color:white;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  margin:0px;
  background-color: #eab300;
  border-radius: 30px;
}

#go_button:hover{
  color:white;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  margin:0px;
  background-color: grey;
  border-radius: 30px;
}
