{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/images/bg-indice.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
   <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         <div class="box-e"><a href="#" class="custom-underline" id="h3-about">¡Haz parte del cambio ahora!</a></div>
         <h5 id="h5-about">
            Este proyecto surge por la necesidad de educar al votante y erradicar el voto clientelar. Ya que la perpetuidad en el poder de varios diputados ha debilitado la institucionalidad de la Asamblea Nacional, resultando en graves casos de corrupción, malversación de fondos, fraude, nepotismo y desacato ante la Corte Suprema de Justicia, entre otros. Muchos ciudadanos votan cada cinco años sin tener acceso a información básica sobre la trayectoria y la integridad de quienes aspiran a cargos de elección popular. <br>
            Estos se perpetúan en el poder sin rendir cuentas sobre su gestión, aprovechando la cultura clientelar, que es alimentada a a su vez por la pobreza, falta de educación y una baja conciencia cívica. Esta situación se agrava con la práctica de muchos actores políticos que utilizan fondos del estado, para comprar la voluntad y dignidad de los electores.
         </h5>
      </div>
      <div class="home-content__line"></div>
   </div>
   <!-- end home-content -->
   <ul class="home-social">
      <li>
         <a target="_blank" href="https://www.facebook.com/fundacionespaciocivico/"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://twitter.com/espaciocivico"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://www.instagram.com/espaciocivico/"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
         <a href="mailto:info@espaciocivico.org"><i class="fas fa-at"></i></a>
      </li>
   </ul>
</section>
<!-- end s-home -->
{% include 'includes/alianzas.html' %}
{% endblock container %}
