{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/images/intro-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
   <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         <h4 id="h4-about">Espacio Cívico es una fundación sin fines de lucro, panameña, sin afiliación a ningún partido ni movimiento político, creada en el 2018.</h4>
         <h5 id="h5-about">
            Su objetivo es fortalecer nuestra democracia educando al ciudadano sobre el proceso de elección, ofreciendo información sobre los candidatos a diputados y ofreciendo vehículos para monitorear los políticos que ocupen puestos de elección.
            El primer proyecto de Espacio Cívico es la ¨Guía de Políticos¨ una página web que reúne la información básica sobre los candidatos a Diputados en Panamá en las elecciones del 5 de Mayo del 2019.
         </h5>
      </div>
      <div class="home-content__line"></div>
   </div>
   <!-- end home-content -->
   <ul class="home-social">
      <li>
         <a target="_blank" href="https://www.facebook.com/fundacionespaciocivico/"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://twitter.com/espaciocivico"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://www.instagram.com/espaciocivico/"><i class="fab fa-instagram"></i></a>
      </li>
   </ul>
</section>
<!-- end s-home -->
{% include 'includes/alianzas.html' %}
{% include 'includes/comite-asesor.html' %}
{% endblock container %}
