{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home2 target-section" data-parallax="scroll" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
   <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         <div class="box-e"><a href="#" class="custom-underline" id="h3-about">Sobre la guía de políticos</a></div>
         <h5 id="h5-about">
           La iniciativa Guía de Políticos es un ejercicio voluntario y abierto a cualquier candidato a Diputado principal de Panamá. La plataforma pone a disposición de cualquier interesado la información recibida, bajo un formato estándar de formulario que facilitan su consulta y comparación.</h5>

           <h5 id="h5-about">Eventualmente aspiramos expandir nuestro alcance para cubrir otros cargos de elección en futuros procesos electorales.</h5>

           <h5 id="h5-about"><a href="">La veracidad y exhaustividad de la información publicada es responsabilidad del candidato a Diputado que ha completado el formulario enviado; en el caso de que el candidato a Diputado no haya completado su perfil, Guía de Políticos realizará una búsqueda de información pública.</a> Guía de Políticos no revisa la veracidad de la información contenida en los formularios, o en fuentes de información digitales públicas como (Tribunal Electoral, Órgano Judicial, página web del candidato, redes sociales del candidato, entre otras). Al momento de enviar su formulario diligenciado cada candidato a Diputado confirma que:</h5>

            <h5 id="h5-about"><em>“Al completar el presente formulario confirmo que la información presentada en el formulario de Fundación Espacio Cívico es veraz y completa, y que puede ser publicada por Fundación Espacio Cívico”.</em></h5>

            <h5 id="h5-about">En casos donde existan inconsistencias en la información proporcionada por Candidatos a Diputado, corresponderá a cada Candidato solventarlas ante la opinión pública.</h5>

            <h5 id="h5-about">El formato de formulario enviado se puede consultar aquí y el formato estándar de mensaje enviado a diputados para sumarse a Guía de Políticos se pueden <a href="">consultar aquí</a>. Los candidatos a diputados que a la fecha han recibido algún contacto por parte de Fundación Espacio Cívico se pueden <a href="">consultar aquí</a>. Todos los candidatos a Diputados que no hayan sido contactados, pueden escribir a info@espaciocivico.org para solicitar el envío de su formulario.</h5>

            <h5 id="h5-about">La información publicada de estos candidatos ha sido completada con fuentes de información digitales públicas como (Tribunal Electoral, Órgano Judicial, página web del candidato, redes sociales del candidato, entre otras). Las fotos del perfil publicadas, y acceso a redes sociales de los candidatos han sido obtenidas de una búsqueda simple en Google, y se publican con el expreso entendimiento de que el proceso electoral en el que aspira ser electo el Candidato se trata de un tema de interés público nacional, según permite el artículo 577 del Código de Familia.</h5>

            <h5 id="h5-about">En caso de que un candidato a Diputado solicite actualizar su información, el mismo lo podrá hacer enviando un correo a info@espaciocivico.org. En un período de aproximadamente 72 horas, Espacio Cívico deberá responder enviando un correo con el vínculo a su formulario personal, en el cual el candidato a Diputado podrá editar su información. Este vinculo tendrá una duración de 48 horas desde que es enviado al candidato, después de esto caducará.</h5>

            <div class="box-e"><a href="#" class="custom-underline" id="h3-about">Metodología utilizada</a></div>

            <h5 id="h5-about">El orden en que los candidatos aparecen listados, hace referencia a su colocación dependiendo de la cantidad de datos obtenidos del candidato a Diputado (de mayor a menor % de datos obtenidos.</h5>

            <h5 id="h5-about">La forma como se calcula el puntaje ponderado <a href="https://drive.google.com/file/d/1TUPxMinMA8apyRLshQY7UpO74PmxvIdE/view">se explica aquí</a>. El modelo de Guía de Políticos le asigna un peso o % de importancia a cada variable.</h5>

              <h5 id="h5-about">Es importante recalcar que nuestro modelo contempla cinco (5) variables en el caso de Diputados que buscan la reelección, y cuatro (4) variables en el caso de Candidatos a Diputados que no eran Diputados en el período 2014-2019. En ambos casos el puntaje máximo o 100% que pueden obtener los candidatos a Diputados es 20 puntos.</h5>

                <h5 id="h5-about">Las cuatro variables contempladas para Candidatos a Diputados nuevos son:

                <ul>
                  <li>Formación académica y experiencia profesional</li>
                  <li>Propuesta política</li>
                  <li>Procesos Judiciales</li>
                  <li>Declaración de patrimonio e intereses</li>
              </ul></h5>

              <h5 id="h5-about">Las cinco variables contempladas para Diputados del período 2014-2019 que buscan la reelección son:

              <ul>
                <li>Formación académica y experiencia profesional</li>
                <li>Propuesta política</li>
                <li>Procesos Judiciales</li>
                <li>Declaración de patrimonio e intereses</li>
                <li>Declaración de beneficios como diputado</li>
              </ul></h5>

  <h5 id="h5-about">La diferencia de pesos porcentuales de las variables entre candidatos a reelección y candidatos nuevos, surge de la necesidad de que el modelo funcione equitativamente para ambos, es decir, que ambos sumen el mismo puntaje (en este caso 20 puntos o 100% de datos completados). Como los candidatos a Diputados que buscan la reelección tienen una quinta variable – Declaración de beneficios como diputado – el restante de las variables reciben un puntaje menor que las de los candidatos nuevos. Esto para hacer a todos los candidatos a Diputados comparables y mantener la equidad de los 20 puntos máximos que se pueden recibir o 100% de datos completados.</h5>



    <h5 id="h5-about">El modelo de Guía de Políticos hace una distinción para las variables 3, 4 y 5 (procesos judiciales, declaración de patrimonio e intereses y declaración de beneficios como diputado), de la siguiente manera:

    <ul>
      <li>Si la información fue proporcionada directamente por el candidato a Diputado, se multiplica la variable por 2.</li>
      <li>Si la información fue obtenida por voluntarios, se multiplica la variable por 1.</li>
      <li>En el caso de que Fundación Espacio Cívico o sus voluntarios no encuentren información, se multiplica la variable por 0.</li>

    </ul></h5>

    <h5 id="h5-about">Las variables 1 y 2 (Formación académica y experiencia profesional y propuesta política) son indiferentes a si son completadas por el candidato a Diputado o por el voluntario, es decir, se multiplican siempre por 1, puesto que es información que todos los candidatos a puestos políticos deben completar (en cumplimiento de la Ley 29, del 29 de mayo de 2017; <a href="https://www.tribunal-electoral.gob.pa/wp-content/uploads/2017/12/Texto-Unico-Codigo-Electoral.pdf">artículo 297</a> del Texto Único del Código electoral).</h5>

      <h5 id="h5-about"><a href="#">La Guía de Políticos es una tabla dinámica, ya que a la medida que recibamos más información los puntajes irán aumentando, y por tanto la posición de los candidatos en la Guía de Políticos cambiará.</a></h5>

      <h5 id="h5-about">Es decir, aquellos candidatos que posteriormente decidan completar su información en la Guía de Políticos verán su porcentaje de respuestas incrementar en la medida que llenen la información faltante, por lo que mantenemos abiertas las puertas a que los Candidatos nos brinden su información y así cumplir el objetivo de informar a la ciudadanía.</h5>







         </h5>
      </div>
      <div class="home-content__line"></div>
   </div>
   <!-- end home-content -->
   <ul class="home-social">
      <li>
         <a target="_blank" href="https://www.facebook.com/fundacionespaciocivico/"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://twitter.com/espaciocivico"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://www.instagram.com/espaciocivico/"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
         <a href="mailto:info@espaciocivico.org"><i class="fas fa-at"></i></a>
      </li>
   </ul>
</section>
<!-- end s-home -->

{% endblock container %}
