{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home2 target-section" data-parallax="scroll" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
   <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         <a href="#" class="custom-underline" id="h3-metodologia">Sobre la guía de políticos</a>
         <h5 id="h5-about">
            La iniciativa <a href="{% url "ranking" %}">Guía de Políticos</a> es un ejercicio voluntario y abierto a cualquier candidato a diputado principal de Panamá. La plataforma pone a disposición de cualquier interesado la información recibida, bajo un formato estándar de formulario que facilitan su consulta y comparación. Eventualmente aspiramos expandir nuestro alcance para cubrir otros cargos de elección en futuros procesos electorales.
         </h5>
         <h5 id="h5-about"><a href="">La veracidad y exhaustividad de la información publicada es responsabilidad del candidato a diputado que ha completado el formulario enviado; en el caso de que el candidato a diputado no haya completado su perfil, Guía de Políticos realizará una búsqueda de información pública.</a> Guía de Políticos no revisa la veracidad de la información contenida en los formularios, o en fuentes de información digitales públicas como Tribunal Electoral, Órgano Judicial, página web del candidato, redes sociales del candidato, entre otras. Al momento de enviar su formulario diligenciado cada candidato a Diputado confirma que:</h5>
         <h5 id="h5-about"><em>“Al completar el presente formulario de Fundación Espacio Cívico confirmo que la información presentada es veras y completa, y que puede ser publicada por Fundación Espacio Cívico.”</em></h5>
         <h5 id="h5-about">En casos donde existan inconsistencias en la información proporcionada por candidatos a diputado, corresponderá a cada candidato solventarlas ante la opinión pública.</h5>
         <h5 id="h5-about"><a href="https://docs.google.com/document/d/1fCi1J0X7ENznIptRkol3EbDP4WxK5xsI2LZkVHnBxKs/edit?usp=sharing">Aquí</a> encontrará el formato de formulario enviado, y mensajes enviados sobre cómo sumarte a Guía de Políticos.</h5>
         <h5 id="h5-about"><a href="https://docs.google.com/spreadsheets/d/1Fo-_C6Iq7-TkJR_OdBrtwnYn3OxWZi6xAWq15e7TqIM/edit?usp=sharing">Aquí</a> encontrará el listado de  candidatos que han sido contactados.</h5>
         <h5 id="h5-about">Invitamos a  los candidatos cuya información no aparece en Guía de Políticos a escribir a <a href="mailto:info@espaciocivico.org">info@espaciocivico.org</a> para solicitar el envío de su formulario.</h5>
         <h5 id="h5-about">La información publicada de estos candidatos ha sido completada con fuentes de información digitales públicas como (Tribunal Electoral, Órgano Judicial, página web del candidato, redes sociales del candidato, entre otras). Las fotos del perfil publicadas, y acceso a redes sociales de los candidatos han sido obtenidas de una búsqueda simple en Google y se publican con el expreso entendimiento de que el proceso electoral en el que aspira ser electo el candidato se trata de un tema de interés público nacional, según permite el artículo 577 del Código de Familia.</h5>
         <h5 id="h5-about">En caso de que un candidato a diputado solicite actualizar su información, el mismo lo podrá hacer enviando un correo a <a href="mailto:info@espaciocivico.org">info@espaciocivico.org</a>. Espacio Cívico tomará hasta 48 horas en dar respuesta a las solicitudes realizadas por los candidatos. Todo cambio de información que el candidato quiera realizar lo puede hacer accediendo directamnete al link a su perfil enviado por correo.</h5>
      </div>
      <div class="home-content__line"></div>
   </div>
</section>
<!-- end s-home -->
{% include 'includes/metodologia.html' %}
{% endblock container %}
