{% extends 'base.html' %}

{% block container %}

<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>
    <div class="home-content">
        <div class="row home-content__main">
            <h3>¡Haz parte del cambio ahora!</h3>
            <h5>
              Este proyecto surge por la necesidad de educar al votante y erradicar el voto clientelar. Ya que la perpetuidad en el poder de varios diputados ha debilitado la institucionalidad de la Asamblea Nacional, resultando en graves casos de corrupción, malversación de fondos, fraude, nepotismo y desacato ante la Corte Suprema de Justicia, entre otros. Muchos ciudadanos votan cada cinco años sin tener acceso a información básica sobre la trayectoria y la integridad de quienes aspiran a cargos de elección popular. <br>
              Estos se perpetúan en el poder sin rendir cuentas sobre su gestión, aprovechando la cultura clientelar, que es alimentada a a su vez por la pobreza, falta de educación y una baja conciencia cívica. Esta situación se agrava con la práctica de muchos actores políticos que utilizan fondos del estado, para comprar la voluntad y dignidad de los electores.
            </h5>

            <div class="home-content__buttons">
                <a href="#contact" class="smoothscroll btn btn--stroke">
                    Ver Índice
                </a>
            </div>
        </div>
        <div class="home-content__line"></div>

    </div> <!-- end home-content -->


    <ul class="home-social">
        <li>
            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-linkedin" aria-hidden="true"></i><span>Linked in</span></a>
        </li>
    </ul>


</section> <!-- end s-home -->


<!-- end s-home
<section class="bgimage" id="about-img">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>Índice de Transparencia de políticos</p>
            <h5 id="about">Este proyecto surge por la necesidad de educar al votante y erradicar el voto clientelar. Ya que la perpetuidad en el poder de varios diputados ha debilitado la institucionalidad de la Asamblea Nacional, resultando en graves casos de corrupción, malversación de fondos, fraude, nepotismo y desacato ante la Corte Suprema de Justicia, entre otros. Muchos ciudadanos votan cada cinco años sin tener acceso a información básica sobre la trayectoria y la integridad de quienes aspiran a cargos de elección popular.
Estos se perpetúan en el poder sin rendir cuentas sobre su gestión, aprovechando la cultura clientelar, que es alimentada a a su vez por la pobreza, falta de educación y una baja conciencia cívica. Esta situación se agrava con la práctica de muchos actores políticos que utilizan fondos del estado, para comprar la voluntad y dignidad de los electores.</h5>
         </div>
      </div>
   </div>
</section>-->

{% include 'includes/alianzas.html' %}
{% endblock container %}

{% block extra_end_js %}
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="js/modernizr.js"></script>
{% endblock extra_end_js %}
