{% load analytical %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% analytical_head_top %}
      {% block meta %}
      {% include 'includes/meta.html' %}
      {% endblock meta %}
      {% comment %}
      {% endcomment %}
      {% block extrajs %}
      {% include 'includes/scripts.html' %}
      {% endblock extrajs %}
      {% block extracss %}
      {% include 'includes/css.html' %}
      {% endblock extracss %}
      {% block fb_spy %}
      {% include 'includes/fb_spy.html' %}
      {% endblock fb_spy %}
      {% analytical_head_bottom %}
   </head>
   <body {% block extra_body_attrs%}{% endblock extra_body_attrs %}>
   {% analytical_body_top %}
   {% block navbar %}
   {% include 'includes/navbar2.html' %}
   {% endblock navbar %}
   <main role="main" class="container-fluid">
      {% block container %}
      {% endblock container%}
   </main>
   <div id="footer">
      {% block footer %}
      {% include 'includes/footer.html' %}
      {% endblock %}
   </div>
   {% block extra_end_js %}
   {% endblock extra_end_js %}
   <script src="{% static "js/main.js" %}" ></script>
   {% analytical_body_bottom %}
   </body>
</html>
