{% extends 'base.html' %}

{% load static %}
{% block container %}
<div class="row" id="background-image3">
   <div class="col">
   </div>
   <div class="col-6">
      <div class='row'>
         <div class='col'>
            <img src="{% if person.image %}{{ person.image.url }}{% else %}{% static "images/person_icon.png" %}{% endif %}" class="img-fluid-perfil">
         </div>
         <div class='col'>

            <div>
               <h2 id="nombre-candidato-perfil">{{person.name}}</h2>
            </div>

            <div class="c100 p{{ person.ranking_data.ranking_mark|floatformat:"0" }} small orange">
                          <span>{{ person.ranking_data.ranking_mark }}%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>

            <div id="circuito">
               {% if person.circuit %}
               <span>{{ person.circuit }}</span>
               {% endif %}
            </div>
            <div id="nombreparty">
               {% if person.party %}
               <span>{{ person.party }}</span>
               {% endif %}
            </div>
            <div>
               {% if person.birth_date %}
               <span id="fecha-nacimiento-perfil">{{person.birth_date}}</span>
               {% endif %}
            </div>
                        <div>
                           {% if person.web %}
                           <span>{{person.web}}</span>
                           {% endif %}
                        </div>




         </div>
      </div>

   </div>
   <div class="col">
   </div>
</div>



{% include 'includes/tabs.html' %}
{% endblock container %}
