{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap4 %}
{% load static %}


{% block container %}


  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div class='row'>
        <div class='col'>
        <img src="{% if person.image %}{{ person.image.url }}{% else %}{% static "images/person_icon.png" %}{% endif %}" class="img-fluid">
        </div>
        <div class='col'>
          <div>
          <h2>{{person.name}}</h2>
        </div>
        <div>
          {% if person.birth_date %}
          <span>{{person.birth_date}}</span>
          {% endif %}
        </div>
        <div>
          {% if person.web %}
          <span>{{person.web}}</span>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

{% endblock container %}
