{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home3 target-section" data-parallax="scroll" data-image-src="/images/bg-indice.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
 <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         
         <h4  id="h3-info">El proceso de votación</h4>
         <h5 id="h5-about">
            El avance de nuestra democracia requiere que los ciudadanos asuman un rol activo en el proceso de elección de diputados. Pero existen amenazas...</h5>
         <h5 id="h5-about">Proceso de votación se compone de tres etapas: antes, durante y después de la votación.</h5>
         <h5 id="h5-about">Etapa 1: Meses previos a la campaña electoral en donde los partidos escogen a sus candidatos y el ciudadano debe entender cuales son los retos que enfrenta su comunidad, su circuito, su ciudad y el país.</h5>
         <h5 id="h5-about">Etapa 2: Periodo de campaña electoral y el día de la votación. En esta etapa los candidatos dan a conocer sus propuestas y su trayectoria, y el ciudadano debe informarse y estudiar cual es la oferta política. El día de las elecciones el ciudadano debe saber como votar (como, por ejemplo: donde ir a votar, que es un voto en blanco, que es un voto nulo, para cuales puestos políticos debe votar, entre otros).</h5>
         <h5 id="h5-about">Etapa 3: Una vez los candidatos son electos el ciudadano debe monitorearlos. Este monitoreo se realiza a través de organizaciones cívicas, gubernamentales e internacionales que proveen información y le dan la oportunidad al ciudadano de participar.
         </h5>
         <h4  id="h3-info">Responsabilidad del votante en la elección de diputados</h4>
         <div class="row" id="h5-about">
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Entender las necesidades y prioridades de la comunidad.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Elegir a sus candidatos basándose en información objetiva.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Conocer la oferta electoral.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Ejercer su derecho a voto.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Monitorear el cumplimiento de las propuestas políticas.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Fiscalizar la asistencia y votaciones de sus diputados.
            </div>
         </div>
         <h4  id="h3-info">Amenazas al proceso de votación (y a nuestra democracia)</h4>
         <div class="row" id="h5-about">
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Falta de información consistente de candidatos.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Apatía de los electores a informarse y votar.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Falta de información sobre la gestión de los diputados.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Desinformación sobre las funciones de un diputado.
            </div>
         </div>
         <h4  id="h3-info">Qué puede hacer un diputado</h4>
         <div class="row" id="h5-about">
           <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Fiscalizar al gobierno (acuerdos internacionales celebrados por el Órgano Ejecutivo, declarar guerra o concertar paz, decretar amnistía por delitos políticos, entre otros).
           </div>
           <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Decidir sobre el uso publico de los bienes nacionales (establecer impuestos, aranceles, tasas y demás disposiciones concernientes al régimen de aduanas)-
           </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Crear, proponer y debatir leyes para atender las necesidades Estado.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Decidir temas administrativos (como aprobar Magistrados).
            </div>


         </div>
         <h4  id="h3-info">Qué no puede hacer un diputado</h4>
         <div class="row" id="h5-about">
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300" ></i>Hacer contratos con el Estado directamente o mediante intermediarios.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300"></i>Gestionar a nombre de terceros negocios con el Estado.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300"></i>Ejercer otro trabajo público remunerado, salvo la docencia.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300"></i>*A pesar de no tener como competencia el manejo directo de recursos para usar en sus circuitos, hasta ahora lo han hecho mediante asignación de partidas presupuestarias. No existe prohibición expresa al respecto*.
            </div>
         <h5 id="h5-about">
            Para más información de las funciones de un Diputado, referirse al Título V - El Órgano Legislativo. Capitulo 1ro. - Asamblea Nacional. <a target="_blank" href="https://www.constitucion.gob.pa/tmp/file/30/25176_2004.pdf"> Artículo 159 de la Constitución de Panamá</a>.
         </h5>
         </h5>
      </div>
         
  
          <div class="row" id="h5-about">
               <h4  id="h3-info">Diputados electos 2019-2024</h4>
            <h5 id="h5-about"></h5>
           </h5>
           <table>
<tbody>
<tr style="" >
  <td class="" style="" >1-1</td>
  <td class=""><a href="https://www.espaciocivico.org/profile/benicio-enacio-robinson-grajales/">Benicio Robinson</a></td>
  <td class="">PRD<span style="">&nbsp;</span></td>
 </tr>
 <tr style="" >
  <td class="" style="" >1-1</td>
  <td class=""><a href="https://www.espaciocivico.org/profile/abel-beker-abrego/">Abel Beker Ábrego</a></td>
  <td class="">PRD</td>
  </tr>
</tbody></table>
           </div>
        
      
          <div class="row" id="h5-about">
               <h4  id="h3-info">Lista De Circuitos Electorales</h4>
           <table>
<tbody>
<tr style="" >
  <td class="" ><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
  <td class="" >Provincia</td>
  <td class="" >Distritos</td>
  <td class="" >Número de Diputados</td>
 </tr>
 <tr style="" >
  <td class="" style="" >1-1</td>
  <td class="">Bocas del Toro</td>
  <td class="">Changuinola. Bocas del Toro, Chiriquí<br>
    Grande y Almirante<span style="">&nbsp;</span></td>
  <td class="">2</td>
 </tr>
 <tr style="" >
  <td class="" style="" >2-1</td>
  <td class="">Coclé</td>
  <td class="">Penonomé</td>
  <td class="">2</td>
 </tr>
 <tr style="" >
  <td class="" style="" >2-2</td>
  <td class="">Coclé</td>
  <td class="">Antón</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >2-3</td>
  <td class="">Coclé</td>
  <td class="">La Pintada, Natá, Olá</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >2-4</td>
  <td class="">Coclé</td>
  <td class="">Aguadulce</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >3-1</td>
  <td class="">Colón</td>
  <td class="">Colón</td>
  <td class="">4</td>
 </tr>
 <tr style="" >
  <td class="" style="" >3-2</td>
  <td class="">Colón</td>
  <td class=""><span style="">&nbsp;</span>Chagres, Donoso,
  Portobelo y Santa Isabel</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >4-1</td>
  <td class="">Chiriquí</td>
  <td class="">David</td>
  <td class="">3</td>
 </tr>
 <tr style="" >
  <td class="" style="" >4-2</td>
  <td class="">Chiriquí</td>
  <td class="">Barú</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >4-3</td>
  <td class="">Chiriquí</td>
  <td class="">Bugaba, Tierras Altas</td>
  <td class="">2</td>
 </tr>
 <tr style="" >
  <td class="" style="" >4-4</td>
  <td class="">Chiriquí</td>
  <td class="">Alanje, Boquerón, Renacimiento</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >4-5</td>
  <td class="">Chiriquí</td>
  <td class="">Boquete, Dolega, Gualaca</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >4-6</td>
  <td class="">Chiriquí</td>
  <td class="">San Felix, San Lorenzo, Remedios, Tolé</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >5-1</td>
  <td class="">Darién/Emberá-Wounaan</td>
  <td class="">Chepigana y Sambú</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >5-2</td>
  <td class="">Darién/Comarca Emberá-Wounaan</td>
  <td class="">Pinogana, Cémaco</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >6-1</td>
  <td class="">Herrera</td>
  <td class="">Chitré</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >6-2</td>
  <td class="">Herrera</td>
  <td class="">Los Pozos, Parita, Pesé</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >6-3</td>
  <td class="">Herrera</td>
  <td class="">Las Minas, Ocú, Santa María</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >7-1</td>
  <td class="">Los Santos</td>
  <td class="">Guararé, Las Tablas, Pedasí, Pocrí</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >7-2</td>
  <td class="">Los Santos</td>
  <td class="">Los Santos, Macaracas, Tonosí</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-1</td>
  <td class="">Panamá</td>
  <td class="">Arraiján</td>
  <td class="">3</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-2</td>
  <td class="">Panamá</td>
  <td class="">Capira</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-3</td>
  <td class="">Panamá</td>
  <td class="">Chame y San Carlos</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-4</td>
  <td class="">Panamá</td>
  <td class="">Balboa, Chepo, Chimán y Taboga</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-5</td>
  <td class="">Panamá</td>
  <td class="">La Chorrera</td>
  <td class="">3</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-6</td>
  <td class="">Panamá</td>
  <td class="">San Miguelito</td>
  <td class="">7</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-7</td>
  <td class="">Panamá</td>
  <td class="">San Felipe, El Chorrillo, Santa Ana, Calidonia, Curundú,
  Ancón, Bella Vista, Betania y Pueblo Nuevo</td>
  <td class="">5</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-8</td>
  <td class="">Panamá</td>
  <td class="">Río Abajo, San Francisco, Parque Lefevre y Juan Díaz</td>
  <td class="">5</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-9</td>
  <td class="">Panamá</td>
  <td class="">Chilibre y Las Cumbres</td>
  <td class="">3</td>
 </tr>
 <tr style="" >
  <td class="" style="" >8-10</td>
  <td class="">Panamá</td>
  <td class="">Pedregal, Pacora, San Martín, Tocumen, Las Mañanitas y 24 de
  Diciembre</td>
  <td class="">4</td>
 </tr>
 <tr style="" >
  <td class="" style="" >9-1</td>
  <td class="">Veraguas</td>
  <td class="">Santiago</td>
  <td class="">2</td>
 </tr>
 <tr style="" >
  <td class="" style="" >9-2</td>
  <td class="">Veraguas</td>
  <td class="">La Mesa, Las Palmas y Soná</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >9-3</td>
  <td class="">Veraguas</td>
  <td class="">Calobre, Cañazas, San Francisco y Santa Fé</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >9-4</td>
  <td class="">Veraguas</td>
  <td class="">Atalaya, Mariato, Montijo y Río de Jesús</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >10-1</td>
  <td class="">Guna Yala</td>
  <td class="">Comprende el corregimiento de Narganá y, en el corregimiento
  de Ailigandí, los poblados de Airdirgandí, Irgandí,Playón Chico, Playón Grande y San Ignacio de Tupile, así como la Comarca Kuna de Madungandi</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >10-2</td>
  <td class="">Guna Yala</td>
  <td class="">el resto del corregimiento de Ailigandí y los corregimientos
  de Tubualá y Puerto Obal<span style="display:none">día, así como la Comarca
  Kuna de Wargandi</span></td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >12-1</td>
  <td class="">Ngöbe Buglé</td>
  <td class="">Kankintu y Kusapi</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >12-2</td>
  <td class="">Ngöbe Buglé</td>
  <td class="">Besiko, Mirono y Nole Duima</td>
  <td class="">1</td>
 </tr>
 <tr style="" >
  <td class="" style="" >12-3</td>
  <td class="">Ngöbe Buglé</td>
  <td class="">Müna, Ñürum</td>
  <td class="">1</td>
 </tr>
</tbody></table>
         </div>

      <div class="home-content__line"></div>
   </div>
</section>
{% endblock container %}
