{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/images/bg-indice.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
   <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         <div class="box-e"><a href="#" class="custom-underline" id="h3-about">Información electoral</a></div>
         <h5 id="h5-about">
           Qué debe hacer un diputado:
 <ul>
   <li>Crear, proponer y debatir leyes para atender las necesidades Estado.</li>
  <li>Fiscalizar al gobierno (acuerdos internacionales celebrados por el Órgano Ejecutivo, declarar guerra o concertar paz, decretar amnistía por delitos políticos, entre otros.</li>
  <li>Decidir sobre el uso público de los bienes nacionales (establecer impuestos, aranceles, tasas y demás disposiciones concernientes al régimen de aduanas).</li>
  <li>Decidir temas administrativos (como aprobar Magistrados).</li>
</ul>
         </h5>

         <h5 id="h5-about">
           Qué no debe hacer un diputado:
 <ul>
   <li>Entregar donaciones y subsidios benéficos.</li>
  <li>Entregar donaciones y subsidios benéficos
Resolver problemas sociales del circuito: hacer calles, regalar mochilas, regalar comida, regalar tanques de gas, entre otros.</li>
  <li>Otorgar becas escolares.</li>
  <li>Realizar contratos con Órganos del Estado o con instituciones o empresas vinculadas a este, a título personal o por medio de una entidad privada a la cual esté relacionado/a.</li>
</ul>
         </h5>
         <h5 id="h5-about">
        Para más información de las funciones de un diputado, referirse al Título V - El Órgano Legislativo. Capitulo 1ro. - Asamblea Nacional.<a href="https://www.constitucion.gob.pa/tmp/file/30/25176_2004.pdf"> Artículo 159 de la Constitución de Panamá</a>.

         </h5>


      </div>
      <div class="home-content__line"></div>
   </div>
   <!-- end home-content -->
   <ul class="home-social">
      <li>
         <a target="_blank" href="https://www.facebook.com/fundacionespaciocivico/"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://twitter.com/espaciocivico"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
         <a target="_blank" href="https://www.instagram.com/espaciocivico/"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
         <a href="mailto:info@espaciocivico.org"><i class="fas fa-at"></i></a>
      </li>
   </ul>
</section>
<!-- end s-home -->

{% endblock container %}
