{% extends 'base.html' %}
{% block container %}
<section id="home" class="s-home3 target-section" data-parallax="scroll" data-image-src="/images/bg-indice.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
   <div class="overlay"></div>
   <div class="shadow-overlay"></div>
   <div class="home-content">
      <div class="row home-content__main">
         <h4  id="h3-info">El proceso de votación</h4>
         <h5 id="h5-about">
            El avance de nuestra democracia requiere que los ciudaadanos asuman un rol activo en el proceso de elección de diputados, pero existen amenazas...
         </h5>
         <h4  id="h3-info">Responsabilidad del votante en la elección de diputados</h4>
         <div class="row" id="h5-about">
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Entender las necesidades y prioridades de la comunidad.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Elegir a sus candidatos basándose en información objetiva.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Participar de las campañas políticas (opcional).
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Ejercer su derecho a voto.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Monitorear el cumplimiento de las propuestas políticas.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-vote-yea" style="color:#eab300"></i>Fiscalizar la asistencia y votaciones de sus diputados.
            </div>
         </div>
         <h4  id="h3-info">Amenazas al proceso de votación (y a nuestra democracia)</h4>
         <div class="row" id="h5-about">
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Falta de información consistente de candidatos.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Apatía de los electores a informarse.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Percepción de que un voto no hace la diferencia.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Falta de información sobre la gestión de los diputados.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-exclamation-triangle" style="color:#eab300"></i>Desinformación sobre que si debe y que no debe hacer un diputado.
            </div>
         </div>
         <h4  id="h3-info">Qué puede hacer un diputado</h4>
         <div class="row" id="h5-about">
           <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Fiscalizar al gobierno (acuerdos internacionales celebrados por el Órgano Ejecutivo, declarar guerra o concertar paz, decretar amnistía por delitos políticos, entre otros).
           </div>
           <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Decidir sobre el uso publico de los bienes nacionales (establecer impuestos, aranceles, tasas y demás disposiciones concernientes al régimen de aduanas)-
           </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Crear, proponer y debatir leyes para atender las necesidades Estado.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-check" style="color:#eab300"></i>Decidir temas administrativos (como aprobar Magistrados).
            </div>


         </div>
         <h4  id="h3-info">Qué no puede hacer un diputado</h4>
         <div class="row" id="h5-about">
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300" ></i>Realizar contratos con Órganos del Estado o con instituciones o empresas vinculadas a este, a título personal o por medio de una entidad privada a la cual esté relacionado/a.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300"></i>Resolver problemas sociales del circuito: hacer calles, regalar mochilas, regalar comida, regalar tanques de gas, entre otros.</div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300"></i> Entregar donaciones y subsidios benéficos.
            </div>
            <div class="col-md-6 col-xs-6"><i class="fas fa-times" style="color:#eab300"></i>Otorgar becas escolares.
            </div>
         </div>
         <h5 id="h5-about">
            Para más información de las funciones de un Diputado, referirse al Título V - El Órgano Legislativo. Capitulo 1ro. - Asamblea Nacional. <a target="_blank" href="https://www.constitucion.gob.pa/tmp/file/30/25176_2004.pdf"> Artículo 159 de la Constitución de Panamá</a>.
         </h5>
         </h5>
      </div>
      <div class="home-content__line"></div>
   </div>
</section>
{% endblock container %}
