{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}

<section class="bgimage">
  <div class="container-fluid">
        {% block contenido_head %}
        <div class="row">
          <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <p>Índice de Transparencia de Políticos</p>
            <h5>La participación ciudadana maximiza la rendición de cuentas de nuestros políticos</h5>

            <p><a href="{% url 'ranking' %}" class="btn btn-primary btn-large">Ver índice</a></p>
          </div>
        </div>
        {% endblock contenido_head %}
  </div>
</section>

{% include 'includes/lista_candidatos.html' with persons=persons %}

<div class="container" id="alianzas">
  <div class="row">
    <div class="col-6 col-md-3">
      <img class="logo" src="{% static "images/ciudad-del-saber.png" %}">
    </div>
    <div class="col-6 col-md-3">
      <img class="logo" src="{% static "images/logo-tribunal-electoral.png" %}">
    </div>
    <div class="col-6 col-md-3">
      <img class="logo" src="{% static "images/ciudad-del-saber.png" %}">
    </div>
    <div class="col-6 col-md-3">
      <img class="logo" src="{% static "images/logo-tribunal-electoral.png" %}">
    </div>
  </div>
</div>

{% endblock container %}
