{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
<section id="intro">
   <div class="row intro-content">
      <div class="col-twelve">
         <h3 class="intro-guia">Guía de Políticos</h3>
         <h3 class="">Perfil de los candidatos a Diputados en Panamá</h3>
         <h1 class="intro-perfil-candidatos">
            Tu voto tiene mucho valor...<br>¿A quién se lo vas a dar?
         </h1>
         <div class="buttons">
            <a class="button stroke smoothscroll animate-intro" href="{% url 'ranking' %}"  title="">Ver guía completa</a>
            <a class="button stroke smoothscroll animate-intro" href="{% url 'info' %}" title="">Información electoral</a>
         </div>
      </div>
   </div>
</section>
{% include 'includes/lista_candidatos.html' with persons=persons %}
{% include 'includes/alianzas.html' %}
{% endblock container %}
{% block extra_end_js %}
<script type="text/javascript" ></script>
{% endblock extra_end_js %}
