{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block navbar %}
{% endblock navbar %}

{% block extra_body_attrs%}data-spy="scroll" data-target="#form-nav-sections" data-offset="0" class="scrollspy-example"{% endblock extra_body_attrs %}

{% block extrajs %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha384-vtZXrrXR60MGoprJb7ApH4t3Y59IhePhwtXXmbqg//ha9LHwSo3QCNR6XvF5oXVM" crossorigin="anonymous"></script>
{% endblock extrajs %}
    
{% block extracss %}
<link rel="stylesheet" href='{% static "css/candidate_form.css" %}'>
{% endblock extracss %}

{% block container %}

<div class="row">
    <div class="col">
        <h1>Bienvenido/a {{person.name}}:</h1>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <p>Acá podrás contarnos un poco más sobre ti:</p>
    </div>
    <div class="w-100"></div>
    <div class="col-2">
      <div id="form-nav-sections" class="list-group">
        <a class="list-group-item list-group-item-action" href="#datos_personales_section">Datos Personales</a>
        <a class="list-group-item list-group-item-action" href="#perfil_politico_section">Perfil Político</a>
        <a class="list-group-item list-group-item-action" href="#educational_records_section">Formación Academica</a>
        <a class="list-group-item list-group-item-action" href="#work_records_section">Experiencia Laboral</a>
        <a class="list-group-item list-group-item-action" href="#judiciary_records_section">Procesos Judiciales</a>
      </div>
    </div>
    <div class="col-8" >
      
      
        <form action="{{contact.update_url}}" method="post" class="form"  enctype="multipart/form-data">
          {% csrf_token %}
          <div >
          {% comment %}
          <div data-spy="scroll" data-target="#form-nav-sections" data-offset="0" class="scrollspy-example">
          {% endcomment %}
          <!-- INICIO DEL DATOS PERSONALES -->
          
          <h5 id="datos_personales_section">Datos Personales</h5>
              
              {% if person.image %}
                <div class="row">
                  <div class='col-3'>
                    <img src="{{ person.image.url }}"  class="img-thumbnail">
                  </div>
                </div>
              {% endif %}
                {% bootstrap_field form.image %}
                {% bootstrap_field form.birth_date %}
                {% bootstrap_field form.web %}
                {% bootstrap_field form.facebook %}
                {% bootstrap_field form.twitter %}
                {% bootstrap_field form.instagram %}
                
          </section>
          <hr>
          <!-- FIN DEL DATOS PERSONALES -->
          <!-- INICIO DEL PERFIL POLÍTICO -->
          <section>
          
          <h5 id="perfil_politico_section">Perfil Político</h5>
              {% bootstrap_field form.circuit %}
              {% bootstrap_field form.party %}
              {% bootstrap_field form.has_changed_party %}
              {% bootstrap_field form.previous_parties %}
              {% bootstrap_field form.topics %}
              {% bootstrap_field form.declared_intention_to_transparent_political_profile %}
          </section>
          <hr>
          <!-- FIN DEL PERFIL POLÍTICO -->
          <h5 id="{{inlines.0.prefix}}_section">Formación Academica</h5>
          <section>
            {% include 'includes/formset_update_candidate.html' with formset=inlines.0 %}
          </section>
          <hr>
          <h5 id="{{inlines.1.prefix}}_section">Experiencia Laboral</h5>
          <section>
            {% include 'includes/formset_update_candidate.html' with formset=inlines.1 %}
          </section>
          <hr>
          <h5 id="{{inlines.2.prefix}}_section">Procesos Judiciales</h5>
          <section>
            {% include 'includes/formset_update_candidate.html' with formset=inlines.2 %}
          </section>


          {% buttons %}
            <button type="submit" class="btn btn-primary">
              Enviar
            </button>
          {% endbuttons %}
          </div>
        </form>
      
    </div>
</div>

{% endblock container %}