{% extends 'base.html' %}
{% load bootstrap4 %}


{% block container %}

<div class="row">
    <div class="col">
        <h1>Bienvenido/a {{person.name}}:</h1>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <p>Acá podrás contarnos un poco más sobre ti:</p>
    </div>
    <div class="w-100"></div>
    <div class="col-8 offset-2">
        <form action="{{contact.update_url}}" method="post" class="form"  enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          
          {% for formset in inlines %}
            {% bootstrap_formset formset layout='horizontal' %}
          {% endfor %}
  
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              Enviar
            </button>
          {% endbuttons %}
        </form>
    </div>
</div>

{% endblock container %}